@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

html, body{
    overflow-x: hidden;
}

#nav-checkbox, .nav-toggle{
    display: none;
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("heroBG.jpg") no-repeat center center / cover;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;  
}

.hero h1{
    color: hsl(233, 39%, 23%);
    font-size: 60px;
    line-height: 1;
    position: relative;
    z-index: 1;
    text-shadow: 
        0.5px 0.5px 0px #fff,  /* Bottom-right shadow */
        -0.5px 0.5px 0px #fff, /* Bottom-left shadow */
        0.5px -0.5px 0px #fff, /* Top-right shadow */
        -0.5px -0.5px 0px #fff; /* Top-left shadow */
}

.hero h3{
    color: #ffffff;
   
    z-index: 1;
    font-size: 26px;
    font-weight: normal;
    margin: 15px 0;
    line-height: 1;
    text-shadow: 
        0.3px 0.3px 0px #fff,  /* Bottom-right shadow */
        -0.3px 0.3px 0px #fff, /* Bottom-left shadow */
        0.3px -0.3px 0px #fff, /* Top-right shadow */
        -0.3px -0.3px 0px #fff; /* Top-left shadow */
    }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    transition: background-color 0.5s ease;
}

.logo h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
}

.nav-menu li{
    display: inline-block;
}

.nav-menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 15px;
}

.nav-menu li a:hover{
    color: hsl(18, 84%, 44%);
}

.active{
    background: hsl(18, 84%, 44%);
}

.active a:hover{
    color: #fff !important;
    text-decoration: underline;
}

/* Base styling for the nav menu */

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

/* Responsive menu styles */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 8px;
        padding: 10px;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .nav-menu li a {
        font-size: 1.2rem;
    }

    .nav-toggle {
        display: block;
    }

    #nav-checkbox:checked ~ .nav-menu {
        display: flex;
    }

    header {
        justify-content: space-between;
        padding: 10px 20px;
    }
}

.logo img {
    max-width: 250px; /* Adjust size as needed */
    height: auto;
    display: block;
    transition: all 0.3s ease;
}

/* Adjust logo size for smaller screens */
@media (max-width: 768px) {
    .logo img {
        max-width: 150px; /* Smaller logo for mobile */
        padding-top: 20px; 
        
    }
}

.container {
    max-width: 1200px;
    width: 95%;
    position: absolute;
    top: 350px;
}

.slider-wrapper{
    position: relative;
    z-index: 0;
}
 
.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.slider-wrapper .image-list .image-item{
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.container .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: orangered;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    bottom: -10px;
}

@media (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none!important;
    } 

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
    }

    .slider-wrapper .image-list .image-item{
        width: 280px;
        height: 380px;
    }

    .slider-wrapper .scrollbar-thumb {
        width: 20%;
    }
}

.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}

.slider-scrollbar .scrollbar-track:active{
    cursor:grabbing;
    height: 8px;
    top: -2px;
}

.slider-wrapper{
    position: relative;
}

.slider-wrapper .slide-button{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover{
    background: #444;
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -20px;
  }